header {
    padding: 20px 0px;

    .container {
        display: flex;

        .logo {
            display: inline-block;
            max-width: 170px;
        }

        .header__navigation {
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 25px;
            margin: 0 100px;
            font-size: 20px;
            transition: 0.3s;

            a {
                text-decoration: none;
                padding: 10px 20px;
                color: var(--colorFont);


                &:hover {
                    background-color: var(--colorYellow);
                    box-shadow: 0px 0px 6px var(--colorFont);
                    border-radius: 20px;
                    color: #1a1212;
                    font-weight: 700;
                }
            }
        }

        .btn {
            background-color: red;
            width: 100px;
        }
    }

}